---
import Layout from "../layouts/layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

---
<Layout title="Contact me">
  <body>
    <Header />
  <form name="contact" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact">
    <label>Nome<input name="name" required></label>
    <label>Email<input name="email" type="email" required></label>
    <label>Messaggio<textarea name="message" required></textarea></label>
    <button type="submit">Invia</button>
  </form>
  <Footer />
  </body>
</Layout>
