<header>
  <nav class="container justify-between">
    <pre
      class="ascii mb-4"
      aria-hidden="true">
m    m   "
##  ## mmm   m mm  #   m   mmm
# ## #   #   #"  " # m"   #" "#
# "" #   #   #     #"#    #   #
#    # mm#mm #     #  "m  "#m#"
    </pre>
    <pre
      class="ascii mb-4"
      aria-hidden="true">
mmmm
#   "m  mmm   m mm   m mm    mmm    m mm  m   m  mmmmm  mmmmm   mmm
#    # #" "#  #"  #  #"  #  "   #   #"  " #   #  # # #  # # #  "   #
#    # #   #  #   #  #   #  m"""#   #     #   #  # # #  # # #  m"""#
#mmm"  "#m#"  #   #  #   #  "mm"#   #     "mm"#  # # #  # # #  "mm"#
    </pre>
  </nav>
</header>
